<div class="container-fluid login-container card">
  <h3 class="text-center mt-3">Log in to your account</h3>
  <hr/>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
    <p *ngFor="let message of errorMessage">{{ message }}</p>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input [(ngModel)]="authenticationRequest.email" type="email" class="form-control" id="email"
           placeholder="example@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="authenticationRequest.password" type="password" class="form-control" id="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-primary" (click)="login()">
      <span class="fas fa-sign-in">&nbsp;</span>Log in
    </button>
    <div>
      Need an account?&nbsp;
      <button type="button" class="btn btn-outline-info" (click)="register()">
        Register
      </button>
    </div>
  </div>
</div>
