<div class="container-fluid register-container card">
  <h3 class="text-center mt-3">Create a new account</h3>
  <hr/>
  <div *ngIf="isWaiting && !errorMessage.length" class="alert alert-info" role="alert">
    A verification email will be sent to your provided email address upon registration. Please follow the instructions
    in the email to activate your account.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
    <p *ngFor="let message of errorMessage">{{ message }}</p>
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input [(ngModel)]="registrationRequest.firstName" type="text" class="form-control" id="firstName"
           placeholder="First Name">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input [(ngModel)]="registrationRequest.lastName" type="text" class="form-control" id="lastName"
           placeholder="Last Name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input [(ngModel)]="registrationRequest.email" type="email" class="form-control" id="email"
           placeholder="example@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="registrationRequest.password" type="password" class="form-control" id="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-info" (click)="register()" [disabled]="isWaiting">
      <span *ngIf="isWaiting" class="fas fa-spinner fa-spin mr-2"></span>
      {{ isWaiting ? 'Creating an account...' : 'Create an account'}}
    </button>
    <div>
      Already have an account?&nbsp;
      <button type="button" class="btn btn-outline-primary" (click)="login()">
        <span class="fas fa-sign-in">&nbsp;</span>Log in
      </button>
    </div>
  </div>
</div>
