<div class="p-3" xmlns="http://www.w3.org/1999/html">
  <h2>Manage my book</h2>
  <div class="alert alert-danger mt-3" role="alert" *ngIf="errorMessage.length">
    <p class="m-0 p-0" *ngFor="let message of errorMessage">{{message}}</p>
  </div>
  <hr/>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img [src]="selectedImage || 'https://source.unsplash.com/user/c_v_r/1920x1080'" alt="Selected image"
           class="rounded-1" width="100%" height="100%"/>
      <div class="mt-2">
        <input (change)="onFileSelected($event)" type="file" id="formFile" class="form-control" accept="image/*">
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input [(ngModel)]="bookRequest.title" type="text" id="title" name="title" class="form-control"
                 placeholder="Book title"/>
        </div>
        <div class="col-6">
          <label for="author" class="form-label">Author</label>
          <input [(ngModel)]="bookRequest.authorName" type="text" id="author" name="authorName" class="form-control"
                 placeholder="Author name"/>
        </div>
        <div class="col-6">
          <label for="isbn" class="form-label">ISBN</label>
          <input [(ngModel)]="bookRequest.isbn" type="text" id="isbn" name="isbn" class="form-control"
                 placeholder="ISBN"/>
        </div>
        <div class="col-12">
          <label for="summary" class="form-label">Summary</label>
          <textarea [(ngModel)]="bookRequest.bookSummary" id="summary" name="bookSummary" class="form-control"
                    placeholder="Book summary"
                    rows="4"></textarea>
        </div>
        <div class="col-12">
          <label for="plot" class="form-label">Plot</label>
          <textarea [(ngModel)]="bookRequest.bookPlot" id="plot" name="bookPlot" class="form-control"
                    placeholder="Book plot"
                    rows="6"></textarea>
        </div>
        <div class="col-12">
          <input [(ngModel)]="bookRequest.isShareable" id="shareable" name="isShareable" class="form-check-input me-1"
                 type="checkbox"/>
          <label for="shareable" class="form-check-label"> Share book</label>
        </div>
        <div class="col-12 d-flex justify-content-end gap-2">
          <button (click)="saveBook()" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i> Save
          </button>
          <a routerLink="/books/my-books" class="btn btn-outline-dark">
            <i class="fas fa-times"></i> Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
