<div class="card card-container border-2 m-4"
     [class.border-primary-subtle]="book.shareable && manage"
     [class.border-danger-subtle]="book.archived && manage">
  <img [src]="bookCover" class="card-img-top" alt="Cover Image" height="260"/>
  <div class="card-body overflow-y-scroll">
    <h4 class="card-title mb-3 fw-bold fs-5">
      <i class="fa-solid fa-book"></i> {{book.title}}
    </h4>
    <h5 class="card-subtitle mb-1 text-secondary fs-6 mb-2">
      <i class="fas fa-pencil" title="Book Author"></i>

      {{book.authorName}}
    </h5>
    <h6 class="card-subtitle text-secondary fs-6">
      <i class="fas fa-user" title="Book Owner"></i>
      {{book.ownerName}}
    </h6>
    <hr/>
    <p class="card-text">{{book.bookSummary}}</p>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center gap-2">
    <div class="d-flex gap-2">
      <app-rating [rating]="book.bookRating || 0"></app-rating>
      <span class="fw-bold" *ngIf="book.bookRating || 0 > 0">{{book.bookRating}}</span>
    </div>
    <div class="d-flex gap-2" *ngIf="!manage">
      <i (click)="onShowDetails()" class="fas fa-circle-info text-info" title="View Details"></i>
      <i (click)="onBorrow()" class="fas fa-list-check text-primary" title="Borrow book"></i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fas fa-edit text-success" title="Edit book"></i>
      <i (click)="onShare()" class="fas fa-share-alt text-primary"
         [title]="!book.shareable ? 'Mark book as shareable' : 'Mark book as not shareable'"></i>
      <i (click)="onArchive()" class="fas fa-archive text-danger"
         [title]="!book.archived ? 'Archive book' : 'Unarchive book'"></i>
    </div>
  </div>
</div>
