<div class="container" *ngIf="isSubmitted else codeForm">
  <div class="activation-message" *ngIf="isOk; else activationError">
    <h2>Activation successful!</h2>
    <p>Your account has been activated successfully.</p>
    <button class="btn btn-primary" (click)="toLogin()">Log in to your account</button>
  </div>

  <ng-template #activationError>
    <div class="activation-error">
      <h2>Activation failed!</h2>
      <p>{{ message }}</p>
      <button class="btn btn-info" (click)="isSubmitted = false">Try again</button>
    </div>
  </ng-template>
</div>

<ng-template #codeForm>
  <div class="container">
    <div class="text-center" style="width: 25vw">
      <h2>Type your activation code</h2>
      <code-input [codeLength]="6"
                  [isCodeHidden]="false"
                  [code]="'number'"
                  (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <button class="btn btn-primary mt-3" (click)="toLogin()">Go to Login</button>
    </div>
  </div>
</ng-template>
